Repository OCOSToken/OCOSCloud-Core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ocoscore/047, @ocoscore/devs, @ocoscore/auditors, @ocoscore/docs, @ocoscore/devops, @ocoscore/sdk, @ocoscore/frontend, @ocoscore/qa, @ocoscore/security, @ocoscore/dao

.github/CODEOWNERS:

# ðŸ‘‘ CODEOWNERS for OCOS Cloud

# This file defines who owns what parts of the repository.
# It enables automatic PR review requests and governance alignment.

# Root ownership for the whole repository
*                  @ocoscore/047

# Contract files
/contracts/        @ocoscore/devs @ocoscore/auditors

# Documentation
/docs/             @ocoscore/docs @ocoscore/047

# Deployment scripts and config
/scripts/          @ocoscore/devops
/hardhat.config.js @ocoscore/devops

# SDK & API Gateway
/sdk/              @ocoscore/sdk
/api/              @ocoscore/sdk

# Frontend (UI)
/dashboard/        @ocoscore/frontend @ocoscore/devs

# Test suite
/test/             @ocoscore/devs @ocoscore/qa

# Security & Governance
SECURITY.md        @ocoscore/security
CONTRIBUTING.md    @ocoscore/047
access-control.md  @ocoscore/security

# DAO Protocol Files
/contracts/CloudDAO.sol     @ocoscore/dao
/docs/deployment-guide.md   @ocoscore/devops

glossary.md
  docs/glossary.md
Owners: @ocoscore/docs, @ocoscore/047

bug-bounty.md
  docs/bug-bounty.md
Owners: @ocoscore/docs, @ocoscore/047

faq.md
  docs/faq.md
Owners: @ocoscore/docs, @ocoscore/047

roadmap.md
  docs/roadmap.md
Owners: @ocoscore/docs, @ocoscore/047

governance.md
  docs/governance.md
Owners: @ocoscore/docs, @ocoscore/047

node-benchmark.md
  docs/node-benchmark.md
Owners: @ocoscore/docs, @ocoscore/047

metrics.md
  docs/metrics.md
Owners: @ocoscore/docs, @ocoscore/047

audit-process.md
  docs/audit-process.md
Owners: @ocoscore/docs, @ocoscore/047

dao-voting-weight.md
  docs/dao-voting-weight.md
Owners: @ocoscore/docs, @ocoscore/047

openapi.yaml
  api/openapi.yaml
Owners: @ocoscore/sdk

analytics.yaml
  analytics/analytics.yaml
Owners: @ocoscore/047

README.md
  frontend/README.md
Owners: @ocoscore/047

infrastructure-diagram.png
  assets/diagrams/infrastructure-diagram.png
Owners: @ocoscore/047

infrastructure-diagram.png
  assets/diagrams/infrastructure-diagram.PNG
Owners: @ocoscore/047

Delete assets/diagrams/infrastructure-diagram.png
  assets/diagrams/infrastructure-diagram.png
Owners: @ocoscore/047

NodeSentinel.sol
  contracts/NodeSentinel.sol
Owners: @ocoscore/devs, @ocoscore/auditors

watchdog.py
  ai/watchdog.py
Owners: @ocoscore/047

config.yaml
  monitoring/config.yaml
Owners: @ocoscore/047

NodeHealth.tsx
  frontend/dashboard/components/NodeHealth.tsx
Owners: @ocoscore/047

[id].tsx
  pages/node/[id].tsx
Owners: @ocoscore/047

health.ts
  frontend/pages/api/nodes/[nodeId]/health.ts
Owners: @ocoscore/047
